.profile-header {
    transform: translateY(-2rem);
}

.img-thumbnail {  
    border-radius: 10px;}
.foursec{
    margin:20px 15px;}

.item--description ul{
    line-height: 20px;
    text-align: left;
    padding-left: 16px;}
    .starcat{display:block;}
.starcat span{padding:0px 5px;}

.starcatf {
  display: flex;
}
