<app-header></app-header>

<ion-content>
<div class="container">
  <div class="cart-div deal_detail">
    <div class="row step-div cart-sec">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 _ngcontent-ovj-c5="" style="margin: 20px 0 20px 0;display: inline-block;border-bottom: 2px solid #ea5b24;">Radiology</h3>                                              
        <p class="metaFooterToggleLink">Radiology, also called diagnostic imaging, is a series of different tests that take pictures or images of various parts of the body.  Many of these tests are unique in that they allow doctors to see inside the body.  A number of different imaging exams can be used to provide this view, including X-ray, MRI, ultrasound, CT scan and PET scan.<br><i>“Radiology is essential to the diagnosis of many diseases, particularly cancer.  Early diagnosis saves live.  Without diagnosis there can be no treatment, there can be no cure.” </i></p>
      </div>
      <div class="clearfix"></div>
    </div>     
  </div>
</div>
<div class="container">
  <div class="cart-div deal_detail">
    <div class="row step-div cart-sec">
       <div class="col-md-5 col-sm-5 col-xs-5">
          <h3 _ngcontent-ovj-c5="" style="margin: 20px 0 4% 0px;display: inline-block;border-bottom: 2px solid #ea5b24;">Radiology Test</h3>
       </div>
       <div class="col-sm-3">
         <label>Age Group :</label>
         <select [(ngModel)]="recommended_age" class="form-control">
            <option value="">Please select Age Group</option>
            <option *ngFor="let i of age_groups" value="{{i.id}}">{{i.name}}</option>
         </select>
         </div>
          <div class="col-sm-2">
             <label>Suitable For : </label>
             <select [(ngModel)]="test_recommended_for" class="form-control">
                <option value="">Please select gender</option>
                <option *ngFor="let i of recommended_fors" value="{{i.id}}">{{i.name}}</option>
            </select>
           </div>
        <div class="col-sm-1">
           <label></label>
           <button type="button" (click)="search()" class="btn btn-success">Search</button>
        </div>
        <div class="col-sm-1">
           <label></label>
           <button *ngIf="filter" type="button" (click)="clear()" class="btn btn-danger" >Clear</button>
        </div>
    </div>     
  </div>
</div>
 
<div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12 col-lg-3 col-xl-3" *ngFor="let item of radiology_test">
      <div class="grid-item-inner">
        <div class="mid">
          <div class="uptopmp">
            <img class="mpopimg" src="assets/mp1_11.png">
            <p class="category_namemp">{{item.test_name}}</p> 
            <div class="desmp">
            <ul>
              <li *ngIf="item.parameter.length !== 0">Total no.of Tests - {{item.parameter.length}}</li>
              <li *ngIf="item.habbit.length !== 0">Associated Habbits - {{item.habbit.length}}</li>
              <li *ngIf="item.health_risk.length !== 0">Associated Risk - {{item.health_risk.length}}</li>
              <li>Quick Turn Around Time</li>
              <li>Reporting as per NABL ISO guidelines</li></ul>
            </div>
          </div>
          <div class="butkmore">
            <button ion-button  class="know_more" (click)="goToDetail(item)">Know More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</ion-content>