ion-header {
    ion-toolbar {
        ion-title {
        }
        ion-button {
            color: var(--blue-color) !important;
            text-transform: capitalize;
            --background: transparent;
            --color: var(--blue-color);
        }
    }
}

ion-content {
    .picker {
        position: absolute;
        margin-top: 74px;
        margin-left: -34px;
    }
    .profile {
        border-radius: 50%;
        
    }
    .input-div {
        ion-label {
            font-size: 13px;
        }
        ion-input {
            margin-top: 12px;
            margin-bottom: 13px;
            height: 44px;
            background-color: #F5F5F5;
            border-radius: 7px;
            font-size: 15px;
            --padding-start: 20px;
            color: var(--input-color);
            --placeholder-opacity: 1;
        }
    }
    .padding {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        /*position: absolute;*/
        top: 32%;
    }
    .number-input {
        background: var(--ion-color-sky);
        border-radius: 22px;
        height: 44px;
        padding: 4px 4px;
        display: flex;
        position: relative;
        .code-div {
            border-right: 1px solid var(--ion-border-color);
        }
        .number-div {
            padding-left: 8px;
            .input-div {
                padding-left: 3px;
                ion-input {
                    font-size: 15px;
                    font-family: "Poppins-Medium";
                    --padding-top: 9px;
                    position: relative;
                    top: -7px;
                }
            }
        }
        .button-div {
            width: 25px;
            .btn-clear {
                --padding-start: 0px;
                --padding-end: 0px;
                margin-top: 0px;
            }
        }
    }
    .number {
        font-size: 13px;
    }


    input[type="file"] {
        position: absolute;
        left: 0;
        opacity: 0;
        top: 0;
        bottom: 0;
        width: 100%;}

        .fil div {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../../../assets/attach.png) no-repeat left;
        background-size: 15%;
        margin-left: 16px;}

        label {
        display: inline-block;
        position: relative;
        height: 34px;
        width: 110px;
        background-color: #fff;
        border:1px solid #bab6b6;}

        div.dragover {
        background-color: #fff;
        }

        #uploadDoc .thumnamilCont{
            position: relative;}

        #uploadDoc .thumnamilCont img {
            margin: 10px 10px 0 0;
            padding: 5px 5px 0 0; }

        #uploadDoc .thumnamilCont .crossBtn {
            position: absolute;
            top: -4px;
            width: 17px;}

        #uploadDoc .helpTip {
            font-size: 12px;}

        #uploadDoc .equalHMRWrap {
            flex-wrap: wrap; }

        #uploadDoc .eqWrap {
            display: flex; }

        #uploadDoc .equalHMR {
            width: 33%;
            margin-bottom: 2%;
            display: inline-block; }

        #uploadDoc .eq {
            padding: 0px; }
}

ion-footer {
    ion-toolbar {
        ion-button {
            margin: 0;
            background-color: var(--blue-color);
            height: 52px;
            padding: 0px;
            font-size: 17px;
            text-transform: capitalize;
        }
    }
}