ion-content{
    ion-row {
        ion-item {
            --border-color: transparent;
        }
    }

    .stepOne{
        .rating-form{
            padding: 16px;
            background: white;
            margin: 16px 0px;
            border: 1px solid #d4d6d7;
            .star{
                padding: 10px 0px;
            }
            .text{
                padding: 0px;
            }
        }
        ion-list{
            margin: 10px 0px;
        }
        h3{margin: 0px;
           font-size: 18px;
        }
        span{
            float: right;
            color: red;
            font-weight: bold;
        }
    }
    --background:  #f5f5f5;
    .active {
        --padding-start: 24px;
        --background: var(--ion-color-primary);
        color: white;
        --border-color: transparent;
        box-shadow: 0 0 3px 0 var(--ion-color-medium);
        ion-icon{
            color: white;margin: 0;
        }
    } 
    .error {
        color: rgb(255, 0, 0);
        font-size: 10px;
        padding-left: 16px;
    }
    p{
        color: var(--ion-color-primary);
        padding-left: 16px;
        margin-bottom: 0px;
        span{
            float: right;
            padding-right: 16px;
            color: red;
            font-weight: bold;
        }
    }
    .info{
        border-bottom: 1px solid #f5f5f5;
        ion-item{
            --border-color:  transparent;
        }
    }
    .btn_class{
        text-transform: capitalize;
        font-weight: bold;
        float: left;
        --border-radius: 25px;
        margin: 0px 0px 20px;
    }
    .stepTwo{
            h3{
                margin: 0px;
               font-size: 18px;
            }
        .right-part{
            .patient-count{
                    padding: 14px 0px 0px;
                display: flex;
                img{
                    width: 30px;
                }
                span{
                    color: red;
                    font-size: 14px;
                    margin: 4px 0px 0px 16px;
                }
            }
            ion-item {
                --border-color:  transparent;
            }
            padding: 16px;
            border: 1px solid #d4d6d7;
            background: white;
            margin: 16px 0px;
            .split-para { margin:10px;font-weight: normal;}
            .split-para span { float:right;margin-left:10px; font-weight: normal;}
            .final-para { margin:10px;font-weight: bold;}
            .final-para span { float:right;margin-left:10px; font-weight: bold;}
        }
      /*  img{
            width: 35px;
        }*/
        p{
            font-size: 14px;
            font-weight: bold;
            color: black;
            padding-left: 0px;
        }
    }
    h1{
        margin: 10px 0px;
        font-size: 14px;
    }
    .textarea {
       border: 1px solid #e6e6e6;
       border-radius: 5px !important;
       font-size: 14px;
       margin-top: 0px;
       color:#000;
       background: white;
       margin-bottom: 20px;
    } 
}