<app-header></app-header>
<ion-content >
<div class="container">
 <!-- <div *ngIf="list.length == 0" class="noData">
    <img src="assets/no_data_found.png">
    <p>Sorry! No coupons available</p>
  </div>-->
  <div >
    <ion-row  class="coupons" >
      <ion-col size="12" class="info">
      <p class="title">
      <span class="code">WAYTOLAB<!--<span class="claim">CLAIM</span>--></span><br>
      <span class="desc">A flash sale is one that offers some sort of savings but only for a short time. A good flash sale creates urgency, hype, and a spike in sales. </span>
        <br>
         <span class="expire">Expires on: 30 April 2022</span>
       </p>
	   <br><br>
	   <p class="title">
      <span class="code">WAYTOLAB2<!--<span class="claim">CLAIM</span>--></span><br>
      <span class="desc">A flash sale is one that offers some sort of savings but only for a short time. A good flash sale creates urgency, hype, and a spike in sales. </span>
        <br>
         <span class="expire">Expires on: 30 April 2022</span>
       </p>
	   <br><br><br><br>
      </ion-col>
    </ion-row>
  </div>
  </div>
  <app-footer></app-footer>
</ion-content>